.buttonContainer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  z-index: 2;
  animation: but;
  animation-duration: 2s;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  color: #000;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.nextArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  color: #000;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nextArrow:hover {
  translate: 6px;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
.backArrow:hover {
  translate: -6px;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
@keyframes but {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: collapse;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
